<!-- <h4>{{menu |json }}</h4> -->
<ul class="heroes">
  <li *ngFor="let menuItem of menu">
    <a [routerLink]="menuItem.url"><i></i>{{ menuItem.name }}</a>

    <ng-container *ngIf="menuItem.childern">
  <li *ngFor="let child of menuItem.childern">
    <a [routerLink]="child.url"><i></i>{{ child.name }}</a>
    <ng-container *ngIf="menuItem.childern">
  <li *ngFor="let subChild of child.childern">
    <a [routerLink]="subChild.url"><i></i>{{ subChild.name }}</a>
  </li>
  </ng-container>
  </li>
  </ng-container>
  </li>
</ul>
<router-outlet></router-outlet>
